.dice_holder{
  display: flex;
  width : 100%;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 7%;
}

.blackiconcolor{
  color: blue;
}

.message,
.roll_holder{
  width: 100%;
  text-align: center;
  margin-top: 7%;
}

