.dice_holder{
  display: flex;
  width : 100%;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 7%;
  font-weight: bold;
}

.blackiconcolor{
  color: #6A5ACD;
}

.message,
.roll_holder{
  width: 100%;
  text-align: center;
  margin-top: 7%;
}

.message{
  margin-top: 3%;
  font-weight: 600;
}

.roll_holder{
  margin-top: 1%;
}

.roll_holder button{
  background: #444;
  color: #ddd;
  border-radius: 7px;
  font-size: 0.6em;
  padding: 7px 28px;
}

.wins_counter{
  font-size: 0.7em;
}

